* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

body {
  background-color: bisque;
}

#game-title {
  text-align: center;
}

main {
  margin: auto;
}

#game-zone {
  width: 50vw;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

#player-zone,
#comp-zone {
  width: 100%;
}

.scores {
  text-align: center;
}

#player-choices,
#comp-choices {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choice {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 5vh 0;
}

.button {
  background-color: ghostwhite;
  border: 2px solid darkcyan;
  height: 80px;
}

@media screen and (max-width: 1200px) {
  #game-zone {
    width: 70vw;
  }
}

@media screen and (max-width: 600px) {
  #game-zone {
    width: 90vw;
  }
}
