* {
  box-sizing: border-box;
  font-family: 'VT323', monospace;
}

html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: #0b5394;
  color: #eaedef;
}

#game-title {
  text-align: center;
  font-size: 4em;
  margin: 2vh;
}

main {
  margin: auto;
}

#game-zone {
  width: 50vw;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

#player-zone,
#comp-zone {
  width: 100%;
}

.scores {
  text-align: center;
  font-size: 1.2rem;
}

.score {
  color: #eaedef;
  font-size: 2em;
}

.scores > * {
  margin: 2vh;
}

#player-choices,
#comp-choices {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choice {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 3vh 0;
}

.button {
  background-color: #e0ffff;
  border: 5px solid #00b7eb;
  border-radius: 6px;
  height: 80px;
  width: 50%;
  min-width: 120px;
  max-width: 150px;
  font-size: 1.7em;
}

#player-choices .button:hover {
  transform: scale(1.1);
}

#player-choices .button:active {
  border-color: #ffcc33;
}

@media screen and (max-width: 1200px) {
  #game-zone {
    width: 70vw;
  }
}

@media screen and (max-width: 600px) {
  #game-zone {
    width: 90vw;
  }
}

@media screen and (max-width: 370px) {
  #game-title {
    font-size: 3em;
  }
}
