:root {
  --bg-color: #0b5394;
  --fg-color: #eaedef;
  --detail-color: #00b7eb;
  --active-color: #ffcc33;
}

* {
  box-sizing: border-box;
  font-family: 'VT323', monospace;
}

html {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

body {
  background-color: var(--bg-color);
  color: var(--fg-color);
}

#game-title {
  text-align: center;
  font-size: 4em;
  margin: 10vh 0;
}

main {
  margin: auto;
}

#game-zone {
  width: 50vw;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}

#player-zone,
#comp-zone {
  width: 50%;
}

.scores {
  text-align: center;
  font-size: 1.2rem;
}

.score {
  color: var(--fg-color);
  font-size: 2em;
}

.scores > * {
  margin: 2vh;
}

.choice {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 3vh 0;
}

.button {
  background-color: var(--fg-color);
  border: 5px solid var(--detail-color);
  border-radius: 6px;
  height: 80px;
  width: 50%;
  min-width: 120px;
  max-width: 150px;
  font-size: 1.7em;
}

#player-choices .button:hover {
  transform: scale(1.1);
}

#player-choices .button:active {
  border-color: var(--active-color);
}

#results-zone {
  font-size: 5em;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  #game-zone {
    width: 70vw;
  }
}

@media screen and (max-width: 600px) {
  #game-zone {
    width: 90vw;
  }
}

@media screen and (max-width: 370px) {
  #game-title {
    font-size: 3em;
  }
}

@media screen and (max-height: 1024px) {
  #game-title {
    margin: 5vh 0;
  }
}

@media screen and (max-height: 650px) {
  #game-title {
    margin: 2vh 0;
  }
}
